$logoColor1:#3252DF;
$titleColor:#152C5B;
$textColor:#EB5148;

//*****************login*****************//
.text{
    color:$logoColor1 ;
    span{
        color:$titleColor ;
    }
}
.text2{
   span{
    color: $titleColor;
} 
}

.underline{
    text-decoration: none;
   

}

//*****************forgot*****************//
.text3{
   
    span{
        color:$textColor;
    }
}
//*****************login*****************//
.underLine{
    text-decoration: none;
}
//*****************change-password*****************//
.style{
margin-top: 40px;
margin-left: 40px;
padding-left: 40px;
    text-align: end;
   font-size:x-large;
}

.css-1s2a0jz-MuiTableCell-root{
    background-color: $logoColor1;
   
}

//*****************ads*****************//
.bg{
    background-image: url(./assets/images.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
   
    
}
.bg1{
    background-color:rgba(119, 152, 163, 0.6);
   border-radius: 20px;
   
}
.bg2{
    background-image: url(./assets/see.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    border-radius: 20px;
   
}
.long{
    width: 800px;
}