$logoColor1:#3252DF;
$titleColor:#152C5B;
$textColor:#EB5148;
//*******login*******//
.text{
    color:$logoColor1 ;
    span{
        color:$titleColor ;
    }
}
.text2{
   span{
    color: $titleColor;
} 
}
.underline{
    text-decoration: none;
    
}