.css-1wvnaxz-MuiTableCell-root {
    &.MuiTableCell-head {
      background-color: #e2e5eb !important;
      color: #1f263e !important;
      font-weight: 700 !important;
      font-size: 16px !important;
    }
  }
  .css-1nslmh4-MuiTableCell-root {
    &.MuiTableCell-head {
      background-color: #e2e5eb !important;
      color: #1f263e !important;
    }
  }
  .css-mnhre6-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgba(0, 0, 255, 0.678) !important;
  }
  
  .loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  
  :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
  .modalSpan{
    font-weight: 600 !important;
  }
  